* { 
    box-sizing: border-box;
}

body { 
    margin:0;                   /* no white border around browser window */
    font-family: 'Gotham Circular', sans-serif;    /* no tails on the font like Times New Roman */
    background-color: #08A4C7;  /* background color of the page */
    color: white; /* text will be white */
    font-size: 1rem;
}

div {
    margin: 1rem auto;
    background-color: #0ACEFA;
    width: 80%;
    padding: 1rem;
    border:#05657A;
}