* { 
    box-sizing: border-box;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    text-align: left;
}

body {                    /* no white border around browser window */
    font-family: 'Gotham Circular', sans-serif;    /* no tails on the font like Times New Roman */
    background-color: #212121;  /* background color of the page */
    color: white; /* text will be white */
    font-size: 1.5rem;
}

#pfp, #trackImg {
    margin: auto;
    size: 3rem;
}

.left {
    float: left;
    width: 30%;
    position: fixed;
    height: 100%;
    left: 0rem;
    top: 0rem;
    background-color: #1DB954;
    padding: 1rem;
}



.right {
    float: right;
    width: 70%;
    position: fixed;
    right: 0rem;
    top: 0rem;
    padding: 1rem;
}

#trackPlayer {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    box-shadow: .75rem .75rem 3rem black;
}

#suggestions {
    width: 40%;
    border-radius: 1rem 0rem 0rem 1rem;
    background-color: #1DB954;
    padding: 1.5rem;
    z-index: 1;
}

#artists {
    width: 60%;
    border-radius: 0rem 1rem 1rem 0rem;
    background-color: #535353;
    padding: 1.5rem;
}

#playlist-form {
    border-radius: 1rem;
    width: 90%;
    margin: auto;
    background-color: #535353;
    padding: 1.5rem;
    box-shadow: .75rem .75rem 3rem black;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
} 

#createPlaylist {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin: 1rem;
}
