* { 
    box-sizing: border-box;
}

body {                    /* no white border around browser window */
    font-family: 'Gotham Circular', sans-serif;    /* no tails on the font like Times New Roman */
    background-color: #05657A;  /* background color of the page */
    color: white; /* text will be white */
    font-size: 1.5rem;
}

img {
    margin: auto;
    size: 3rem;
}

.left {
    float: left;
    width: 40%;
    position: fixed;
    height: 100%;
    left: 0rem;
    top: 0rem;
    background-color: #0ACEFA;
    padding: 1rem;
}

.right {
    float: right;
    width: 60%;
    position: fixed;
    right: 0rem;
    top: 0rem;
    padding: 1rem;
}

#musicPlayer {
    width: 90%;
    background-color: #0ACEFA;
}